.App {
  background-color: lightgray;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  margin: 1rem;
  justify-content: center;
  border-radius: 2rem;
  box-shadow: 10px 10px 5px grey;
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

img {
  width: 2rem;
}

h4 {
  color: grey;
  text-align: center;
}