.App {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  margin: 2rem;
  justify-content: center;
}

img {
  width: 2rem;
}

App * {
  background-color: white;
  border-radius: 1rem;
  max-width: 30rem;
  max-height: 15rem;
  margin: 1rem; 
}