aside { 
    display: block;
    float: left;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
}
.head {
    text-align: center;
}
.me {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 50%;
}
.location {
    padding-right: .5rem;
    width: 1rem;
}
h4 {
    color: grey;
}