.media {
    text-align: center;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    max-width: 30rem;
    margin: 1rem; 
    box-shadow: 10px 10px 5px #808080;
}
.media img {
    padding: 2rem;
}