.work {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    max-width: 30rem;
    max-height: 15rem;
    margin: 1rem; 
    box-shadow: 10px 10px 5px grey;
}

.work img {
    padding-right: 1rem;
}